body{
    background: url(../image/glass.jpg);
    color: #FFFFFF;
}
#username{
    margin-left: 600px;
}
#nav{
    height:83px;
    background-color: rgb(7,22,100);
    color: #FFFFFF;
}
#user{
    margin-left:1300px;
}
iframe{
    padding-top:100px;
    border:none;
}
#user>div{
    display:inline-block;
    margin:0px 20px;
    width:50px;
}
#header,#sou{
    width:100px;
    padding-left:24px;
    padding-right:24px;
    text-align:center;
}
#sousuo{
    width:145px;
    padding:50px 0px;
    background-color:#C5B6B6;
    margin-bottom:-160px;
}
div>ul>li{
    float:left;
    padding:25px 50px;
    font-size:24px;
    cursor:pointer;
}
.types>li{
    margin:20px 0px;
}
.types{
    background-color:rgb(7,22,100);
    color: #FFFFFF;
    width:100px;
    text-align:left;
    padding-bottom:10px;
    margin-bottom:-250px;
    position:relative;
}
li{
    list-style-type:none;
    z-index:1;
}
.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for below version 2.1.8 */
{
    transform: translateX(10px);
    opacity: 0;
}
#headimage{
    text-align: center;
}
select{
    margin-left:100px;
    height:30px;
    font-size:20px;
    display:block;
}
#rest{
    margin-left:50px;
    display:inline-block;
}
.rests{
    width:200px;
    height:350px;
    margin:50px 50px;
    text-align:center;
    display:inline-block;
    font-size:20px;
    border:solid 1px;
    cursor:pointer;
}
p{
    font-size:24px;
    margin-top:50px;
    margin-left:50px;
}
.restsimage{
    width:200px;
    height:200px;
}
