@charset "utf-8";
/* CSS Document */
    body{
    }
  #top-nav{
	  height:40px;
	  background-color:#BFB6B6;
	  font-size:18px;
	  color:rgb(7,22,90)
  }
  #left {
	    margin-top:-40px;
		background-color:rgb(7,22,90);
  		width:233px;
		height:800px;
		font-family:Microsoft YaHei,Helvitica,Verdana,tohoma,Arial,san-serif;
	}
	#home{
		padding-left:20px;
		height:30px;
	}
	#functions{
		padding-left:20px;
		height:50px;
	}
	/*.options .submenu{
		margin-left:80px;
	    padding:5px 0px;
	    color:#F5E9E9;  font-size:20px
	}
   .options {
	  padding:5px 0px;
	  color:#F5E9E9;  font-size:20px;
	  height:40px;
  }*/
  .submenu{
	  background-color: rgb(7,22,100);
      width: 250px;
      display: inline-block;
      margin: 20px 50px;
      height: 650px;
      color: #FFFFFF;
      vertical-align: top;
      text-align: center;
      overflow: auto;
  }
  .submenu>div{
      margin: 50px 25px;
      font-size: 20px;
  }
  .order{
      text-align: center;
      width: 200px;
      height: 200px;
      background-color: #C5B6B6;
      color: black;
  }
  #order{
      overflow: auto;
  }
  #queue>div{
      margin: 30px 0;
  }
  p {margin-left: 20px;}