<!doctype html>
<html>
<head>
<meta charset="utf-8">
<script src="js/vue.js">
</script>
    <link rel="stylesheet" type="text/css" href="css/user.css" />
<title>无标题文档</title>
</head> 	
<body>
    <div id="headimage">
        <img src="image/headimage.png" alt="页首图" width="1400px">
    </div>
	<div id="nav">
        <ul>
        	<li><a href="iframe/index.html" target="options">首页</a>
            </li>
            <li id="header" @mouseover="show = true" @mouseout="show=false" >餐厅
            <transition name="slide-fade">
            	<ul class="types"  v-if="show">
                    <li><a href="rest.html">西餐</a></li>
                    <li><a href="rest.html">中餐</a></li>
                    <li><a href="rest.html">甜品店</a></li>
                    <li><a href="rest.html">烘培店</a></li>
                </ul>
            </transition>
            </li>
            <li>我的订单
            </li>
            <li>收藏
            </li>
            <li>历史记录
            </li>
            <li id="sou" @click="show = !show" >搜索 <img src="image/搜索.png" width="20px">
            	<transition  name="slide-fade">
                	<div id="sousuo"  v-if="show">
                    	<form>
                        <input type="search" style="display:block">
                        <input type="submit" value="搜索">
                        </form>
                    </div>
                </transition>
            </li>
            <li id="username">
                用户名
            </li>
            <li id="quit">
                <a href="login.html">注销</a>
            </li>
        </ul>   
    </div>
    
    <script src="js/user.js">
	</script>
    
    </div>
    <div >
    	<iframe name="options" id="options" src="iframe/index.html" width="1800px" height="1000px">
        </iframe>
    </div>
</body>
</html>
