.meal{
    width:200px;
    height:300px;
    margin:20px 20px;
    text-align:center;
    display:inline-block;
    cursor: pointer;
}
.mealimage{
    width: 200px;
    height:200px;
}
.name{
    font-size:16px;
}
.price{
    font-size:18px;
}
