<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/vue.js"></script>
    <style type="text/css">
        body{
            color: #FFFFFF;
        }
        #info{
            margin: 50px;
        }
        input{
            margin: 20px 10px;
        }
    </style>
</head>
<body>
    <div id="info">
        确认原密码：<!--原密码为hello-->
        <input type="password" v-model="check"><br>
        输入新密码：
        <input type="password" @focus="yanzheng" v-model="newpassword">
        <button @click="change" v-if="show">确认</button>
    </div>
    <script src="info.js"></script>
</body>
</html>